* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
  min-width: 300px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.7);
  padding: 10px 40px;
  margin: 10px 40px;
}
.next-btn {
  padding: 15px 35px;
  background-color: pink;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.joke-headline {
  color: orange;
}

.joke-text {
  font-size: 20px;
  letter-spacing: 0.4px;
  color: purple;
  line-height: 30px;
}
.next-btn:hover {
  transform: scale(0.9, 0.95);
}
