* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: sans-serif;
}

.card {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px 30px;
}

.next-btn {
  padding: 15px 45px;
  background-color: rgb(235, 57, 117);
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
}
