* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  font-family: sans-serif;
}

.container {
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 450px;
  max-width: 500px;
  min-width: 300px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.7);
  padding: 15px 20px;
  border-radius: 15px;
}

span {
  font-weight: bold;
}
